.battlefront {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(../../static/jakku.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

.gravity {
  position: absolute;
  height: 365px;
  width: 100%;
  bottom: 0;
}

.end {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #000;
  z-index: 4;
  opacity: 0.5;
  color: #fff;
}

.ground {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  background-color: #b7681c;
  border-top: 2px solid #af855e;
}
